.w {
    width: 998px;
}
.xiangqing_box {
    overflow:hidden;
    width: 998px;
    // border: 1px solid #c5c5c5;
    border-top: 0;
}
.shouye {
    display: inline-block;
    width: 18px;
    height: 16px;
    font-family: 'icomoon';
    margin-bottom: 20px;
}
.header_s {
    height: 87px;
    padding-top: 10px;
    margin-top: 15px;
    background: #fff;
    .header_logo {
        width: 277px;
        height: 50px;
        margin-top: 15px;

    }
    .logo_img {
        display: inline-block;
        width: 134px;
        height: 42px;
        line-height: 70px;
        background: url(../img/jdlogo-201708-@2x.png) no-repeat;
    }
    .logo_shopping {
        display: inline-block;
        width: 100px;
        height: 36px;
        background: red;
        background: url(../img/cart-icon.png) no-repeat;
    }
    .header_input {
        width: 335px;
        height: 28px;
        background: rgb(197, 19, 49);
        margin-top: 25px;
        border: 2px solid red;
        .input_zixin {
            width: 285px;
            height: 24px;
        }
        .header_btn {
            width: 46px;
            height: 28px;
            background:red;
            color:#ccc;
            font-weight: 700;
            border: none;
        }
    }
}
.cart-filter-bar {
    background: #fff;
    overflow:hidden;
    .switch-cart a{
        font-size: 18px;
        color: #E2231A;
        font-weight: 700px;
        .number {
            font-size: 14px;
        }
    }
}
.ui-area-text{
    display: inline-block;
    line-height: 25px;
    width: 134px;
    height: 25px;
    padding-left: 4px;
    color: #666;
    border: 1px solid #e9e9e9;  
    .ui-area-text_ico {
        display: inline-block;
        width: 17px;
        height: 17px;
        font-family: 'icomoon';
        cursor: pointer;
    }
}

.price-sum-extra {
    width: 998px;
    height: 43px;
    line-height: 40px;
    background:#f3f3f3;
    margin-top: 2px;
    // margin-left: 11px;
    border: 1px solid #e9e9e9;
}
.quanxuan {
    vertical-align:baseline;
    vertical-align:text-bottom;
}
.commodity {
    display: inline-block;
    margin-left: 115px;
}
.Unit_Price {
    display: inline-block;
    margin-left:360px; 
}
.number_s {
    display: inline-block;
    margin-left:80px; 
}
.Subtotal {
    display: inline-block;
    margin-left:110px; 
}
.operation {
    display: inline-block;
    margin-left:50px; 
}
.shop {
    width: 998px;
    height: 30px;
    // padding-left: 11px;
    line-height: 30px;
    margin-top: 8px;
    border-bottom: 2px solid #cecdcd;
    .ziying {
        display: inline-block;
        height: 18px;
        padding: 0 5px;
        line-height: 17px;
        background: #da0012;
        vertical-align: middle;
        overflow:hidden;
        color: #fff;
        border-radius: 2px;
        font-weight: 400px;
    }
    .shop_ziying {
        vertical-align:baseline;
        vertical-align:text-bottom;
        margin-bottom: -1px;
    }
    .shop-coupon {
        // float: left;
        display: inline-block;
        vertical-align: middle;
        // background: rgb(214, 37, 67);
        width: 80px;
        height: 24px;
        overflow: hidden;
        margin-left: 350px;
    }
    .shop-coupon-btn {
        display: inline-block;
        width: 80px;
        height: 24px;
        // background:yellowgreen;
        line-height: 99em;
        background: url(../img/cart-coupon-icons02.png) 0 0 no-repeat;
        overflow: hidden;
    }
    .shop-coupon-left {
        padding-left: 10px;
        display: inline-block;
        margin-left: 380px;
        color: #666;
        background: url(../img/icon21.png) 0 8px no-repeat;
    }
}
.item-give {
    width: 998px;
    height: 175px;
    padding-top: 11px;
    // margin-top: 8px;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    .item-header {
        width: 998px;
        .f-txt {
            width: 740px;
            height: 26px;
            line-height: 26px;
            .full-icon {
                display: inline-block;
                position: relative;
                width: 46px;
                height: 20px;
                line-height: 20px;
                background: #fff;
                // color: #f48719;
                border: 1px solid #f48719;
                text-align: center;
                margin-right: 10px;
                margin-left: 4px;
                margin-top: 8px;
                b {
                    display: inline-block;
                    position: absolute;
                    left: -1px;
                    bottom: -5px;
                    width: 5px;
                    height: 6px;
                    background: url(../img/cart-line-02.png) 0 -6px no-repeat;
                }
            }
        }
    }
    .item-last {
        margin-top: 10px;
        border-top: 1px solid #c5c5c5;
        .cell {
            position: relative;
            width: 30px;
            height: 20px;
            padding-top: 15px;
            padding-bottom: 10px;
            .line-circle {
                display: block;
                width: 7px;
                height: 26px;
                z-index: 2;
                background: #fff;
                position: absolute;
                top: -10px;
                left: 2px;
                background: url(../img/cart-line-02.png) 0 -16px no-repeat;
            }
        }
    }
    .item-form {
        width: 998px;
        height: 108px;
        // margin-top: 12px;
        border-bottom: 1px solid #c5c5c5;
        .p-goods {
            width: 300px;
            height: 82px;
            .p-goods_img {
                float: left;
                display:block;
                width: 82px;
                height: 82px;
                margin-right: 10px;
            }
            .p-goods_text {
                display: inline-block;
                width: 204px;
                height: 55px;
                color: #333;
            }
            .promise {
                display: inline-block;
                width: 69px;
                height: 19px;
                .jd-service-icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    overflow: hidden;
                    background:url(../img/shezhi.jpg) no-repeat;
                    
                }
                a {
                    color: #aaa;
                }
            }
        }
    }
    .p-props-new {
        width: 130px;
        height: 40px;
        margin-left: 34px;
        color: rgb(114, 113, 113);
    }
    .p-price-new {
        float: left;
        width: 150px;
        height: 45px;
        text-align: right;
        margin-left: -40px;
        div {
            width: 150px;
            height: 20px;
        }
    }
    .plus-switch strong {
        display: block;
        color: #333;
        font-size: 400;
    }
    .sales-promotion {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 18px;
        border: 1px solid #f9d2d3;
        padding-left: 5px;
        padding-right: 15px;
        margin-left: 5px;
        color: #E2231A;
        b {
            display: block;
            width: 7px;
            height: 4px;
            position: absolute;
            top: 8px;
            right: 8px;
            margin-left: 15px;
            overflow: hidden;
            background: url(../img/cart-icons-201902.png) -83px -3px;
        }
    }
    .p-quantity {
        width: 80px;
        height: 42px;
        margin-left: 18px;
        .quantity-form {
            width: 80px;
            height: 22px;
            text-align: center;
            border: 1px solid #cacbcb;
            margin-left: 36px;
            .decrement {
                display: inline-block;
                width: 16px;
                height: 19px;
                padding: 1px 0;
                line-height: 18px;
                text-align: center;
                margin-bottom: 2px;
                border-right: 1px solid #cacbcb;
            }
            .decrement_right {
                border-right: 0;
                border-left: 1px solid #cacbcb;
            }
            .itxt {
                width: 40px;
                height: 17.43px;
                border: 0;
                text-align: center;
                padding: 1px;
                margin: 0;
                font-size: 12px;
                font-family: verdana;
                color: #333;
                -webkit-appearance: none;
                margin-left: -4px;
            }
        }
    }
    .p-sum {
        width: 100px;
        height: 20px;
        text-align: right;
        margin-left: 48px;
        strong {
            color: #333;
            font-weight: 700;
            display: block;
        }
    }
    .p-ops {
        float: left;
        // width: 60px;
        height: 40px;
        margin-left: 56px;
        .cart-remove {
            display: block;
            height: 20px;
            color: #666;
            display: block;
           
        }
    }
    .J_flash {
        line-height: 15px;
        width: 300px;
        margin-top: 90px;
        color: #E2231A;
    }
}
.options-box {
    height: 50px;
    width: 100%;
    background: rgb(253, 253, 253);
    margin-top: 20px;
    box-shadow: 0 -1px 8px rgba(0,1,1,.08);
    border: 1px solid #ccc;
    border-top:0;
    position:fixed;
    // position: relative;
    bottom: 0px;
    .select-all {
        width: 54px;
        height: 18px;
        float: left;
        line-height: 18px;
        padding: 16px 0 16px 9px;
        white-space: nowrap;
        .cart-checkbox {
            position: relative;
            z-index: 3;
            float: left;
            margin-right: 5px;
            .jdcheckbox{
                position: relative;
                float: none;
                vertical-align: middle;
                _vertical-align: -1px;
                margin: 0 3px 0 0;
                padding: 0;
            }
        }
    }
    .operation{
        float: left;
        height: 50px;
        width: 310px;
        line-height: 50px;
        .remove-batch {
            float: left;
            margin-left: 5px;
            color: #666;
        }
        .J_clr_all{
            float: left;
            margin-left: 5px;
            color: #666;
            font-weight: 700;
        }
    }
    .toolbar-right {
        width: 520px;
        height: 52px;
        .btn-area {
            float: right;
            width: 94px;
            height: 52px;
            .submit-btn {
                display: block;
                position: relative;
                width: 94px;
                height: 51px;
                line-height: 52px;
                color: #fff;
                text-align: center;
                font-size: 18px;
                font-family: "Microsoft YaHei";
                overflow: hidden;
                background: rgb(204, 1, 1);
            }
        }
        .price-sum {
            float: right;
            height: 43px;
            line-height: 20px;
            margin: 7px 5px 0 10px;
            color: #666;
            width: auto;
            position: relative;
            .txt-new {
                    width: 50px;
                    float: left;
                    text-align: right;
                    color: #999;
            }
            .sumPrice em{
                font-size: 16px;
                color: #E2231A;
                font-weight: 700;
            }
        }
        .price-tips {
            vertical-align: text-bottom;
            display: inline-block;
            height: 18px;
            width: 12px;
            background: url(../img/price-tips.png) 0 0 no-repeat;
            // background:yellow;
        }
        .extra span{
            color: #666;
        }
    }
}
.amount-sum{
    float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
    cursor: pointer;
    em{
        color:red;
        font-weight: 700;
    }
    b {
        display: inline-block;
        width: 9px;
        height: 5px;
        background: url(../img/cart-icons-201902.png) -45px -91px;
        overflow: hidden;
        vertical-align: middle;
        margin: -5px 0 0 5px;
        // -webkit-transition: all .2s ease-in 0s;
        // transition: all .2s ease-in 0s;
    }
}

.footer {
    margin-top: 60px;
    .w {
        width: 1200px;
    }
}