.red_class {
    color: red;
}
.header {
    position: relative;
}
/* .header .logo{
    margin-left: 30px;
} */
.logo a {
    display:block;
    width: 170px;
    height: 60px;
    background: url(../img/logo_si.png) no-repeat;
    font-size: 0;
}
.signin {
    position:absolute;
    left: 200px;
    top: 20px;
    width: 110px;
    height: 40px;
    text-align: text;
    line-height: 40px;
    color: rgb(129, 129, 129);
    font-size: 24px;
}
.examine  span {
    font-family: "icomoon";
    vertical-align: middle;
    font-size: 18px;
    color: red;
}
.examine {
    color: #ccc;
    margin:50px 10px 0 0;
}
.wangluo {
    line-height: 40px;
    text-align: center;
    color: #ccc;
    background: #fff8f0;
}
.wangluo a{
    color: #ccc;
}
.wangluo a:hover {
    color: rgb(163, 162, 162);
    text-decoration: underline;
}
.wangluo i,
.img_denglv i {
    font-family: "icomoon";
    vertical-align: middle;
    font-size: 18px;
    color: #ccc;
}
/* baaner */
.banner {
    height:475px;
    background: #e93854;
  
}
.img_right {
    text-align:center;
    width: 990px;
    height:475px;
    background: url(../upload/baner.png)0px 0px no-repeat; 
}
.img_denglv {
    width: 346px;
    // height: 420px;
    margin: 40px 0;
    background:#fff;
}
.img_denglv p {
    line-height: 40px;
    color: #ccc;
    background: #fff8f0;
}
.img_denglv_header {
    display: block;
    width: 100%;
    height: 54px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    .shaoma {
        display: block;
        width: 49.5%;
        margin: 12px auto;
        font-size: 18px;
        font-weight: 700;
        border:0;
        color:red;
    }
    .border_line {
        border-left: 1px solid #ccc;
        width: 0;
        height: 18px;
        margin: 16px auto;
    }
    .zhanghao {
        display: block;
        width: 49.5%;
        margin: 12px auto;
        font-size: 18px;
        &:hover {
            font-weight: 700;
            color: #e4393c;
        }
    }
}
.max {
    width: 316px;
    height: 243px;
    margin: auto;
    margin-top: 20px;
    .max_img {
        width: 173px;
        height: 165px;
        background: rgb(65, 34, 39);
    }
    .max_iph {
        width: 141px;
        height: 168px;
        margin-bottom: 15px;
    }
    
}
.Account_number {
    width: 306px;
    height: 192px;
    margin:20px auto;
    background:#fff;
    margin-bottom: 40px;
    .baocuo {
        text-align: left;
        height: 14px;
        line-height: 14px;
        margin-bottom: 4px;
    }
    .user {
        position: relative;
        height: 38px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        .user_yonghu {
            display: inline-block;
            width: 39px;
            height: 38px;
            background: blue;
            background:url(../img/pwd-icons-new.png) no-repeat;
            border-right: 1px solid #ccc;
        }
        .user_input {
            margin-top: 10px;
            padding-left: 10px;
            border:0;
            background:none;
        }
        .clear_btn {
            display: inline-block;
            width: 14px;
            height: 14px;
            background: red;
            position: absolute;
            top: 12px;
            right: 6px;
            z-index: 20;
            background:url(../img/pwd-icons-new.png) no-repeat -104px 0px;
        }
        .pas {
            background-position: -48px 0px;
        }
    }
    .forget-pw-safe {
        display:inline-block;
        .wangji {
            color: #ccc;
        }
    }
    .login-btn {
        width: 304px;
        height: 33px;
        border: 1px solid #ccc;
        margin-top: 58px;
        line-height: 33px;
        background: #e4393c;
      a{
            font-size: 20px;
            color: #fff;
        }
      
    }
}
.xia_biao {
    overflow:hidden;
    margin: auto;
    width: 180px;
    height: 20px;

    a {
        color: red;
    }
}
.max_bottom {
    height: 25px;
    margin-top: 15px;
    line-height: 25px;
    .max_span {
        display: inline-block;
        height: 25px;
        margin-right: 10px;
        .max_ico {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url(../img/qr-coagent.png) no-repeat;
        }
        .mian {
            margin-left: 20px;
        }
        .kuai {
            background-position: -27px 0;
        }
        .anquan {
            background-position: -54px 0;
        }
    }
}
.img_denglv_bottom {
    height: 26px;
    margin-top: 10px;
    padding: 12px 10px;
    border-top: 1px solid #ccc;
    .img_denglv_left {
        height: 20px;
        // width: 140px;
     
        .img_denglv_left_a {
            display: block;
            border-right: 1px solid #ccc;
            padding-right:10px;
        }
        .img_denglv_ico {
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: url(../img/QQ-weixin.png) no-repeat;
        }
        .img_denglv_weixin {
            border-right: 0;
        }
        .weixin {
            background-position: -20px 2px;
            margin-left: 5px;
        }
        .zhuce {
            border-right: 0;
            padding-right: 0;
            color: red;
            .liji {
                background: url(../img/pwd-icons-new.png) no-repeat -102px -74px;
            }
        }
    }
}
.footer {
    height: 120px;
    text-align: center;
}
.links {
    margin-top: 20px;
    height: 30px;
}
.copyright {
    line-height: 20px;
}